:root {
    --colorTextos: #49454567;
    --gold1: #F4BD76;
    --gold2: #F6CD8F;
    --gray: #ffffff80;
    --gray2: #f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
margin: 0%

}
/*** ESTILOS BOTÓN SLIDE RIGHT ***/
.ov-btn-slide-right {
    background: #F4BD76; /* color de fondo */
    color: #2b2a3b; /* color de fuente */
    border: 2px solid #303036; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    margin-bottom: 40em;
    margin-right: em;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    }
    .ov-btn-slide-right:hover {
    color: #fff; /* color de fuente hover */
    }
    .ov-btn-slide-right::after {
    content: "";
    background: #2f2f36; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    }
    .ov-btn-slide-right:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    }

body {
    font-family: 'Roboto';
    background: #242731;
    background: -webkit-linear-gradient(to right, #1A1B1F, #2f3033);
    background: linear-gradient(to right, #1A1B1F, #2f3033);
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title--active {
    color: var(--gold1);
    font-weight: 700;
    font-size: 50px;
}

.title {
    font-size: 68px;
    font-weight: 300;
    margin-top: 0%;
    color: #fff;
}
.band__textos {
    width: 48%;
    margin-bottom: 5em;
    margin-left: 5em;
}

h2{
    text-align: left;
    font-weight: 500;
}
.mapa{
    margin-left: 1em;
    margin-right: 5em;
    margin-bottom: 6em;
}